<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
      
      
  
<div class="row">   
  <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100) %><table class="table">
  <tbody>
    <tr></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</tbody></table>

<div class="row">
  <a class="btn btn-outline-secondary btn-block " href="<%= users_path %>">
    <i class="fas fa-user-cog" aria-hidden="true"></i>
  </a>
</div>
  <%= form_with model: @book, url: books_path, method: :post do |f| %>
      <h2>Title</h2>
      <p><%= f.text_field :title %></p>
      <p>Opinion</p>
      <p><%=f.text_area :body %></p>
      <%= f.submit "Create Book" %>
  <% end %>
