<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>User info</h2>
            <%= form_with model: @user do |f| %>
                <p><label for="inputName">Name</label></p>
                <p><%= f.text_field :name, autofocus: true, id:"inputName" %></p>
                <p><label for="inputImage">Image</label></p>
                <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
                <p><label for="inputIntroduction">Introduction</label></p>
                <p><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %></p>
                <p><%= f.submit "Update User" %><p/>
            <% end %>
        </div>
    </div>
</div>