<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if@book.errors.any? %>
                <%= @book.errors.count %>error prohibited this obj from being saved:
                <ul>
                    <% @book.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            <% end %>
      <%= form_with model: @book, url: book_path(@book), method: :patch do |f| %>
      <h1>Editing Book</h1>
      <div class="form_group">
        <p>Title</p>
        <%= f.text_field :title %>
      </div>
     <div class="form_group">
      <p>Opinion</p>
      <%= f.text_area :body %>
      </div>
      <div class="form_group">
        <%= f.submit 'Update Book', class: "btn btn-success md-3" %>
      </div>

<% end %>
    </div>
    <%= link_to "Show",book_path %>|
    <%= link_to "Back",books_path %>
  </div>
</div>