<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1fb06ac57c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
    <% if user_signed_in? %>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><span>Bookers</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link text-light" href="<%= user_path(current_user) %>">
                                <i class="fas fa-home" aria-hidden="true"></i> Home
                            </a>
                        </li>


                        <li>
                            <a class="nav-link text-light" href="<%= users_path %>">
                                <i class="fas fa-users" aria-hidden="true"></i> Users
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="<%= books_path %>">
                                <i class="fas fa-book-open" aria-hidden="true"></i> Books
                            </a>
                        </li>


                        <li>
                            <a class="nav-link text-light" href="<%= destroy_user_session_path %> " data-method="delete">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            </div>
            </div>
            </navbar>
  <% else %>
    <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container">
                  <a class="navbar-brand" href="<%= root_path %>"><span>Bookers</span></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav ml-auto">
                          <li>
                              <a class="nav-link text-light" href="<%= root_path %>">
                                  <i class="fas fa-home" aria-hidden="true"></i> Home
                              </a>
                          </li>


                          <li>
                              <a class="nav-link text-light" href="<%= about_path %>">
                                  <i class="fas fa-link" aria-hidden="true"></i> About
                              </a>
                          </li>
                          <li>
                              <a class="nav-link text-light" href="<%= new_user_registration_path %>">
                                  <i class="fas fa-user-plus" aria-hidden="true"></i> Sign up
                              </a>
                          </li>


                          <li>
                              <a class="nav-link text-light" href="<%= new_user_session_path %>">
                                  <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log in</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>

              </div>
              </div>
              </navbar>
            </header>
  <% end %>
          </header>
    <%= yield %>
    <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
  </body>
</html>
